.blazor-error-boundary {
    background: var(--error, #f48771);
    padding: 1rem 1rem 1rem 3rem;
    color: #000;
    border: 1px solid #fff;
}

.blazor-error-boundary::after {
    content: "An error has occurred.";
}
